@import "tailwindcss";

:root {
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-width: 320px;
  min-height: 100vh;
  font-size: 16px;
  max-width: 100%;
  overflow-x: hidden;
}

.mantine-Notification-root {
  display: block !important;
  opacity: 1 !important;
  visibility: visible !important;
  z-index: 9999 !important;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: var(--color-background);
}

::-webkit-scrollbar-thumb {
  background: var(--color-surface);
  border-radius: 8px;
  border: 3px solid var(--color-darkGray);
}

::-webkit-scrollbar-thumb:hover {
  background: #718096;
}

::-webkit-scrollbar-corner {
  background: #2d3748;
}

.recharts-tooltip-cursor {
  color: red !important;
}

.recharts-rectangle {
  color: blue !important;
}
